# CH.02 변수
##### 자료형 변환하기

int -> 정수형 타입 변환 코드

In [3]:
n = 7
int(n)

7

float -> 소수점 타입 변환 코드

In [5]:
n = 7
float(7)

7.0

str -> 텍스트 문자열 타입 변환 코드

In [6]:
n = 7
str(7)

'7'

팁! 
1) print()에서 입력하는 라인이 짧을 때는 아래와 같이 입력한다.
2) default 키는 띄어쓰기, 줄바꾸기의 의미이다.

input 함수 
입출력과 관련된 코드로 입력받는 값의 타입은 문자열이고, 입력 받은 값을 변수에 담아 이용한다.

input("what's your hobby?")

# CH.03 숫자

#### 01. 불리언(boolean) 
1)불리언 데이터 타입의 유일한 값은 true와 fasle
2)타입의 진위 확인을 위해 사용
3)0이 아닌 값은 true로, 0인 값은 false로 인식

In [7]:
bool(2)

True

In [8]:
bool(0)

False

#### 02. 정수 
정수나 분수나 소수점이 없는 모든 숫자이며, 정수 앞에는 부호가 올 수 있다. 일반적인 10진수 외 다른 진수로 숫자를 표현할 수도 있다.

(1) 리터럴 정수 
(주의: 0을 다른 숫자 앞에 넣을 수 없다.)

In [10]:
5

5

In [11]:
08

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_12056/1607649861.py, line 1)

In [ ]:
(2) 정수 연산자 
+(더하기)
-(빼기)
*(곱하기)
/(부동소수점 나누기)
//(정수 나누기)
% (나머지)
**(지수)

#숫자나 연산자 사이에 있는 공백은 무시

In [18]:
4 + 8

12

In [19]:
100 - 8

92

In [22]:
8 // 6  #소수점은 버림

1

In [ ]:
(3) 정수와 변수

In [26]:
b = 87
b-3

84

(4) 연산순서
곱셈이 덧셈보다 높은 우선순위를 가지고 있지만, 연산순서를 다 기억하려고 하기보다는 우선적으로 계산해야할 수식에 (  )를 표시하여 수월하게 계산가능

In [ ]:
(5) 타입변환

int함수 : 소수점 이하 숫자는 버리고 정수만 반환
1) 부동소수점 숫자를 정수로 변환하면 소수점을 버리고 정수를 출력
2) int 함수는 숫자가 아닌 다른 문자를 변환하게 되면 에러가 발생

In [27]:
int(97.999)

97

float함수 : 부동소수점 숫자로 타입 변환을 위한 함수
1) 정수에서 부동소수점 숫자로 변환 시, 간단한 소수점이 붙음
2) 정수와 부동소수점 숫자를 같이 사용하면, 자동으로 정수 타입을 부동소수점 타입으로 변환

# CH04. if

1. 주석 달기 
코드를 설명하거나 나중에 어떤 문제를 고치기 위해 표시하는 등 다양한 목적으로 주석은 사용 가능함. 
(#) -> 해시, 샤프, 파운드, 옥토소프 등 다양한 이름을 가짐
주석은 #문자부터 그 라인의 끝가지 효력을 발휘함

2. 라인 유지하기
코드가 짧으면 프로그램을 훨씬 수월하게 읽을 수 있기에, 백슬래시 문자를 입력하여 길이가 긴 코드를 정리할 수 있음

### 비교하기 if / elif / else

1. 비교연산자
== 같다
!= 다르다
< 보다 작다
<= 보다 작거나 같다
> 보다 크다
>= 보다 크거나 같다

if문 코드 사용
if [조건식]: 
[실행 코드입력]

if-else문 코드 사용
if [조건식]:
실행코드1
else: 
실행코드2

if-elif문 코드 사용
if [조건식1]:
실행코드1
elif [조건식2]:
실행코드2
elif [조건식3]:
실행코드3
else: 
실행코드4

#### if문 실습

In [34]:
grade = int(input('단어시험점수'))
if grade >= 60:
    print('True')
else:
    print('False')

단어시험점수80
True

In [33]:
grade = int(input('단어시험점수'))
if grade >= 100:
    print('A')
elif grade >= 90:
    print('B')
elif grade >= 80:
    print('C')
else:
    print('F')

단어시험점수90
B

In [1]:
height = int(input('당신의 키를 입력하세요:'))
if height >= 180:
    print('True')
else:
    print('False')

당신의 키를 입력하세요:180
True

In [3]:
height = int(input('당신의 키를 입력하세요:'))
if height >= 180:
    print('tall')
elif height >= 160:
    print('medium')
elif height >= 140:
    print('small')
else:
    print('very small')

당신의 키를 입력하세요:165
medium

In [5]:
student = int(input('당신은 몇 학번이신가요?:'))
if student >= 21:
    print('True')
else:
    print('False')

당신은 몇 학번이신가요?:21
True

In [4]:
student = int(input('당신은 몇 학번이신가요?:'))
if student >= 21:
    print('H')
elif student >= 19:
    print('U')
elif student >= 17:
    print('F')
else:
    print('S')

당신은 몇 학번이신가요?:21
H